<div class="container" *ngIf="!cs.user_session">
    <aside class="aside">
        <ul>
            <li><input type="radio" name="calculator" value="login" #myLoan (change)="changeForm()"> Login</li>
            <li><input type="radio" name="calculator" value="register" #myDeposit (change)="changeForm()"> Register</li>
        </ul>
</aside>
<div class="main">
    <div [ngSwitch]="cs.login_register" class="contact-form">
        <h3 *ngSwitchCase=false>
          <app-register></app-register>
        </h3>
        <h3 *ngSwitchDefault="">
            <app-login></app-login>
        </h3>
    </div>
</div>
</div>
<div class="container" *ngIf="cs.user_session">
  <app-home></app-home>
</div>