<div class="container">
    <aside class="aside">
        <ul>
            <li><input type="radio" name="calculator" value="Loan" #myLoan (change)="changeCalculator(myLoan.value)"> Loan Calculator</li>
            <li><input type="radio" name="calculator" value="Deposit" #myDeposit (change)="changeCalculator(myDeposit.value)"> Deposit Calculator</li>
            <li><input type="radio" name="calculator" value="MutualFund" #myMutualFund (change)="changeCalculator(myMutualFund.value)"> Mutual Fund Calculator <br></li>
        </ul>
</aside>
<div class="main">
    <div [ngSwitch]="type" class="contact-form">
        <h3 *ngSwitchCase="myLoan.value">
            <app-loan-calculator></app-loan-calculator>
        </h3>
        <h3 *ngSwitchCase="myDeposit.value">
            <app-deposit-calculator></app-deposit-calculator>
        </h3>
        <h3 *ngSwitchCase="myMutualFund.value">
            <app-mutual-fund-calculator></app-mutual-fund-calculator>
        </h3>
        <h1 *ngSwitchDefault="">Calculators</h1>
    </div>
</div>
</div>
