<h2>Structural Directives Demo</h2>
<h3>
    <div *ngIf="flag; else dothis">GOOD MORNING</div>
    <ng-template #dothis>HAVE A GOOD DAY</ng-template>
</h3>
<hr>
<h3>
    <div *ngIf="flag; this dothis else do_other"></div>
    <ng-template #dothis>HAVE A GOOD DAY</ng-template>
    <ng-template #do_other>TAKE CARE</ng-template>
</h3>
<button (click)="toggle()">CLICK TO DISPLAY/HIDE</button>

<hr>
<h3>List of fruits:
<ol>
    <li *ngFor="let fruit of fruits">
        {{fruit}}
    </li>
</ol>
</h3>
<input type="text" #mf>
<button (click)="addFruit(mf.value)">ADD</button>

<hr>
<h3>Count: {{count}}</h3>
<div [ngSwitch]="count">
    <h3 *ngSwitchCase="1">GOOD MORNING</h3>
    <h3 *ngSwitchCase="2">GOOD AFTERNOON</h3>
    <h3 *ngSwitchCase="3">GOOD EVENING</h3>
    <h3 *ngSwitchCase="4">GOOD NIGHT</h3>
    <h3 *ngSwitchDefault="">HAVE A GOOD DAY:)</h3>
</div>
<button (click)="incrCount()">SWITCH GREETINGS BTN</button>