<h1>Please Login</h1>
<span>{{msg}}</span>
<form (submit)="abc($event)" class="contact-form">
    <h3>
        <label for="">Username:</label> <input type="text"> <br>
        <label for="">Password:</label> <input type="password"> <br>
        <label for="">Role: </label> <select name="" id="">
            <option>ADMIN</option>
            <option>MANAGER</option>
            <option>EMPLOYEE</option>
        </select>
        <input type="submit" value="LOGIN">
        <input type="reset" value="RESET">
    </h3>
</form>