<div class="container">
    <app-navigation></app-navigation>
    <section class="main" id="main">
        <h2>Loan Calculator</h2>
        <div class="contact-container">
            <div class="contact-card">
                <h3>Loan Calculator</h3>
                <a class="submit-btn" routerLink="./deposit-calculator">
                    Click Here
                </a>
            </div>

            <div class="contact-card">
                <h3>Deposit Calculator</h3>
                <a class="submit-btn" routerLink="./deposit-calculator">
                    Click Here
                </a>
            </div>
        </div>
    </section>
</div>